<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>xelc</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/static/ui.css" type="text/css">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
	<div class="container">
		<h1>xelc</h1>
		<div class="form-group">
			<input type="text" class="form-control" id="url" placeholder="Link to Shorten" value="http://">
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p class="text-center"><span class="text-success" id="count">{{ count }}</span> URLs Shortened</p>
			</div>
			<div class="col-lg-8">
				<button class="btn btn-primary btn-block" id="submit">Shorten This!</button>
			</div>
		</div>
	</div>
	<div id="baseurl" style="display:none">{{ baseUrl }}</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/app.js"></script>
</body>
</html>